html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
}
#header{
	background: grey;
	width: 100%;
	height: 5%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 19px;
	color: white;
	padding-top: 0.5%;
	-webkit-font-smoothing: antialiased;
}
#waveform{
	background: black;
	width: 100%;
	height: 70%;
	padding: 0;
	margin: 0;
	//text-align: center;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

}
#controls{
	background: grey;
	width: 100%;
	height: 25%;
	padding: 0;
	margin: 0;
	padding-top: 1.5%;
	text-align: center;
	


}

#canvas{
	//border: white 1px solid;
	position: absolute;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
	
}
#canvas2{
	position: absolute;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 2;
	
}

#drop{
	position: absolute;
	margin-left: -20px;
	top: 30%;
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	visibility: hidden;
	
}

.label{
	font-size: 17px;
	//color: red;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}






