html{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	
}
#header{
	background: black;
	width: 100%;
	height: 7%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 17px;
	font-weight: 300;
	color: white;
	padding-top: 10px;
	
	border-bottom: 1px solid white;
}
#waveform{
	background: black;
	width: 100%;
	height: 70%;
	padding: 0;
	margin: 0;
	
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;


}
#controls{
	border-top: 1px solid white;
	background: black;
	width: 100%;
	height: 23%;
	padding: 0;
	margin: 0;
	padding-top: 1.5%;
	text-align: center;
	


}

#canvas{
	
	position: absolute;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
	
}
#canvas2{
	position: absolute;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 2;
	
}

#drop{
	position: absolute;
	margin-left: -20px;
	top: 30%;
	width: 100%;
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: 'Julius Sans One', sans-serif;
	visibility: hidden;
	
}

.label{
	font-size: 17px;
	
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 300;
}

#transopse{
	width: 100%;
	margin: auto;
	display: inline;
}

#plus{
	background-color: white;
	width: 48%;
	cursor: pointer;
	float: right;
}
#minus{
	background-color: white;
	width: 48%;
	height: 40%;
	float: left;
	cursor: pointer;
	
}

.help{
	color: white;
	font-size: 30px;
}
#github{
	text-align: right;
}





